
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";
@import url('https://fonts.googleapis.com/css?family=Creepster|Indie+Flower|Muli');
/*
font-family: 'Creepster', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Indie Flower', cursive;
*/
/*
  If you need some CSS for any reason you can put it here.
*/

body{
  margin:auto;
  background-color: black;
  background-image: url(https://i.pinimg.com/originals/f8/16/3c/f8163c153c324dabdbe994716468e39b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color:black;
  font-family: 'Creepster', cursive;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
}

#wrapper{
  width: 80%;
  height: 90%;
  text-align: center;
  margin:0.3em;
  margin-left: 4em;
  background-color: white;
  border: 1px solid black;
  opacity: 0.4;
 }
